/* html,bodyタグの設定 */
html, body {
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    font-size: 1.2vw;
}
body {
    color: rgb(200, 200, 200);
    background-image: url("../asset/background-image.png");
    font-family: arial;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: black;
    border-radius: 4px;
}
.breadcrumb-item.active {
    color: rgb(200, 200, 200);
}
.breadcrumb-top{
    margin-top:20px;
}
.buy-color{
    background-color: #FF6969;
}
.sell-color{
    background-color: #6EC4FF;
}

/********ヘッダー********/
#header{
    background-image: url("../asset/background-header.png");
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 2px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
/********ヘッダー********/
/********サイド********/
.search-group{
    text-align: right;
}
/********サイド********/
/********メイン********/
.h1-top {
    position: relative;
    padding: 0.25em 0;
    font-size: 4vw;
}
.h1-top:after {
    content: "";
    display: block;
    height: 3px;
    background: -moz-linear-gradient(to right, #F9BF4B, transparent);
    background: -webkit-linear-gradient(to right, #F9BF4B, transparent);
    background: linear-gradient(to right, #F9BF4B, transparent);
}
#main-area{
    margin-top:10px;
}
.posts{
    color:black;
    margin-top: 35px;
}
.post{
    height: 250px;
    margin-top: 20px;
    padding:0 5px 0 5px;;
}
.post-header{
    height:80px;
    background: gray;
    border-radius: 4px 4px 0 0;
}
.post-main-sell{
    height:170px;
    border-radius: 0 0 4px 4px;
}
.post-main-buy{
    height:170px;
    border-radius: 0 0 4px 4px;
}
.syosai-header{
    height:120px;
    margin:20px;
    
}
.overwatch-image{
    background-image: url("../asset/overwatch.jpg");
    background-repeat:no-repeat;
}
.kouya-image{
    background-image: url("../asset/kouya.jpg");
    background-repeat:no-repeat;
}
.pubg-image{
    background-image: url("../asset/pubg.jpg");
    background-repeat:no-repeat;
}
.pagination {
    display: -ms-flexbox;
    margin: 10px;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
/********メイン********/
.submit{
    text-align: right;
    margin: 15px 0 15px 0;
}


/********タブレット・PC********/
@media screen and (min-width:576px){
    /*769px以上で適用する内容*/
    .pc{
        display: block;
    }
    .sp{
        display: none;
    }
    .pc-header {
        display: flex;
    }
    .sp-header {
        display: none;
    }
    .nav {
        width: 100%;
        min-height: 50px;
    } 
    .nav-in {
        width: 100%;
        min-height: 60px;
        position: inherit;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .pc-title{
        font-size:2vw;
        margin-top:3px
    }
    /********トップ画像エリア********/
    #image-area{
        margin-top:20px;
    }
    #image-area div img {
        height: 400px;
        width: 100%;
    }
    /********トップ画像エリア********/
    .post-user-name{
        padding-top: 12px;
        height: 33px;
        font-size: 1.3em;
        font-weight: 600;
    }
    .post-user-id{
        padding: 6px 6px 0 0;
        height: 33px;
        font-size: 1.3em;
        font-weight: 600;
        text-align: right;
        border-bottom: solid 1px gray; 
    }
    .post-title{
        padding: 5px 0 0 5px;
        font-weight: 600;
    }
    .post-text{
        padding: 10px;
        font-size: 0.5em;
        font-weight: 600;
    }
    /********フッター********/
    #footer-area{
        margin-top: 10px;
        height: 250px;
        border-radius: 8px;
        background-color: black;
    }
    .footer-content{
        padding-left: 20px;
    }
    .copyright{
        text-align: right;
    }
    /********フッター********/
    /********サイド********/
    #side-area{
        /* border: solid 2px #6091d3; */
        padding: 10px 15px 10px 15px;
        background-color: black;
        border-radius: 8px;
    }
    .side-ul{
        margin-top:5px;
        border-top: solid gray 1px;/*上のボーダー*/
        border-bottom: solid gray 1px;/*下のボーダー*/
        padding: 0.5em 0 0.5em 1.5em;
    }
    .side-li {
        line-height: 1.5;
        padding: 0.5em 0;
    }
    .side-add{
        height:100px;
        background-color: white;
    }
    .search-btn{
        margin-top: 5px;
    }
    /********サイド********/

    /**********問い合わせページ**********/
    #toiawase-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********問い合わせページ**********/
    
    /**********管理ページ**********/
    #admin-area{
        margin-top:10px;
        background-color: gray;
        color: black;
        border-radius: 10px;/*角の丸み*/
    }
    .admin_title{
        font-size:40px;
        font-weight: bold;
    }
    /**********管理ページ**********/

    /**********投稿ページ**********/
    #toukou-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .toukou_title{
        font-size:40px;
        font-weight: bold;
    }
    /**********投稿ページ**********/

    /**********ログイン**********/
    #login-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********ログイン**********/

    /**********会員登録**********/
    #kaiintouroku-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********会員登録**********/
    /**********投稿詳細**********/
    #syosai-area{
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .table-th{
        width:30%;
        border: solid 1px #dee2e6;
    }
    .table-td{
        width:70%;
        border: solid 1px #dee2e6;
    }
    .syosai-chat-button{
        margin:20px;
    }
    /**********投稿詳細**********/
    /**********チャット**********/
    #chat-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .chats{
        margin-top: 10px;
    }
    .user-name{
        font-size:15px;
        font-weight: 600;
    }
    .line-bc {
        padding: 20px 10px;
        max-width: 576px;
        margin: 15px auto;
        text-align: right;
        font-size: 14px;
        background: #7da4cd;
    }
    .balloon6 {
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
    }
    .balloon6 .faceicon {
        float: left;
        margin-right: -50px;
        width: 40px;
    }
    .balloon6 .faceicon img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .balloon6 .chatting {
        width: 100%;
        text-align: left;
    }
    .says {
        display: inline-block;
        position: relative; 
        margin: 0 0 0 20px;
        padding: 10px;
        max-width: 300px;
        border-radius: 12px;
        background: #edf1ee;
    }
    .says:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 3px; 
        left: -19px;
        border: 8px solid transparent;
        border-right: 18px solid #edf1ee;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    .says p {
        margin: 0;
        padding: 0;
    }
    .mycomment {
        margin: 10px 0;
    }
    .mycomment p{
        display: inline-block;
        position: relative; 
        margin: 0 10px 0 0;
        padding: 8px;
        max-width: 300px;
        border-radius: 12px;
        background: #30e852;
        font-size: 15px;
    }
    .mycomment p:after {
        content: "";
        position: absolute;
        top: 3px; 
        right: -19px;
        border: 8px solid transparent;
        border-left: 18px solid #30e852;
        -ms-transform: rotate(-35deg);
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
    /**********チャット**********/
    /**********プロフィール**********/
    #prof-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .profs{
        margin-top: 10px;
    }
    /**********プロフィール**********/
}
/********タブレット・PC********/

/********スマホ********/
@media screen and (max-width:575px){
    /*768px以下で適用する内容*/
    .sp{
        display: block;
    }
    .pc{
        display: none;
    }
    .sp-header {
        display: flex;
    }
    .pc-header {
        display: none;
    }
    .nav {
        width: 100%;
        min-height: 50px;
    } 
    .nav-in {
        width: 100%;
        min-height: 60px;
        position: inherit;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .sp-title{
        font-size:6vw;
        margin-top:8px
    }
    .toggle {
        position: fixed; /* bodyに対しての絶対位置指定 */
        right: 13px;
        
        display: block;
        width: 45px;
        height: 40px;
        cursor: pointer;
        z-index: 3;
        background: #ccc;
    }
    .toggle span {
        display: block;
        position: absolute; /* .toggleに対して */
        width: 70%;
        border-bottom: solid 3px #000;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        padding-top: 5px;
        right: 7px;
    }
    .toggle span:nth-child(1) {
        top: 3px;
    }
    .toggle span:nth-child(2) {
        top: 13px;
    }
    .toggle span:nth-child(3) {
        top: 23px;
    }
    /* 最初のspanをマイナス45度に */
    .toggle.active span:nth-child(1) {
        top: 15px;
        left: 4px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    /* 2番目と3番目のspanを45度に */
    .toggle.active span:nth-child(2),
    .toggle.active span:nth-child(3) {
        top: 15px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* .global_nav */
    .global_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        z-index: 2;
        padding-top: 50px;
        text-align: center;
        color: #000;
        background: #ccc;
        transition: all 0.8s;  
    }
    .global_nav .nav_li {
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px black;
        list-style-type: none;
    }
    .global_nav .nav_li a {
        display: block;
        color: #000;
    }
    /* .global_navに.activeが追加 */
    .global_nav.active {
        transform: translateY(0%);
    }
    .global_nav.active ul{
        margin-right: 50px;
    }
    /********トップ画像エリア********/
    #image-area{
        margin-top:20px;
    }
    #image-area div img {
        height: 200px;
        width: 100%;
    }
    /********トップ画像エリア********/
    .post-user-name{
        padding-top: 6px;
        height: 25px;
        font-size: 0.5em;
        font-weight: 600;
    }
    .post-user-id{
        padding: 6px 6px 0 0;
        height: 25px;
        font-size: 0.5em;
        font-weight: 600;
        text-align: right;
        border-bottom: solid 1px gray; 
    }
    .post-title{
        padding: 5px 0 0 5px;
        font-weight: 600;
    }
    .post-text{
        padding: 10px;
        font-size: 0.5em;
        font-weight: 600;
    }
    /********フッター********/
    #footer-area{
        margin-top: 10px;
        border-radius: 8px;
        background-color: black;
    }
    .footer-content{
        padding-left: 20px;
    }
    .copyright{
        text-align: right;
    }
    /********フッター********/
    /**********問い合わせページ**********/
    #toiawase-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********問い合わせページ**********/
    /**********管理ページ**********/
    #admin-area{
        margin-top:10px;
        background-color: gray;
        color: black;
        border-radius: 10px;/*角の丸み*/
    }
    .admin_title{
        font-size:40px;
        font-weight: bold;
    }
    /**********管理ページ**********/

    /**********投稿ページ**********/
    #toukou-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********投稿ページ**********/

    /**********ログイン**********/
    #login-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********ログイン**********/

    /**********会員登録**********/
    #kaiintouroku-area{
        margin-top:20px;
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    /**********会員登録**********/
    /**********投稿詳細**********/
    #syosai-area{
        margin-top:20px;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    
    .table-th{
        width:30%;
        border: solid 1px #dee2e6;
    }
    .table-td{
        width:70%;
        border: solid 1px #dee2e6;
    }
    .syosai-chat-button{
        margin:20px;
    }
    /**********投稿詳細**********/
    /**********チャット**********/
    #chat-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .chats{
        margin-top: 10px;
    }
    .user-name{
        font-size:15px;
        font-weight: 600;
    }
    .line-bc {
        padding: 20px 10px;
        max-width: 575px;
        margin: 15px auto;
        text-align: right;
        font-size: 14px;
        background: #7da4cd;
    }
    .balloon6 {
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
    }
    .balloon6 .faceicon {
        float: left;
        margin-right: -50px;
        width: 40px;
    }
    .balloon6 .faceicon img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .balloon6 .chatting {
        width: 100%;
        text-align: left;
    }
    .says {
        display: inline-block;
        position: relative; 
        margin: 0 0 0 20px;
        padding: 10px;
        max-width: 300px;
        border-radius: 12px;
        background: #edf1ee;
    }
    .says:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 3px; 
        left: -19px;
        border: 8px solid transparent;
        border-right: 18px solid #edf1ee;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    .says p {
        margin: 0;
        padding: 0;
    }
    .mycomment {
        margin: 10px 0;
    }
    .mycomment p{
        display: inline-block;
        position: relative; 
        margin: 0 10px 0 0;
        padding: 8px;
        max-width: 300px;
        border-radius: 12px;
        background: #30e852;
        font-size: 15px;
    }
    .mycomment p:after {
        content: "";
        position: absolute;
        top: 3px; 
        right: -19px;
        border: 8px solid transparent;
        border-left: 18px solid #30e852;
        -ms-transform: rotate(-35deg);
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
    /**********チャット**********/    
    /**********プロフィール**********/
    #prof-area{
        background-color: gray;
        color: black;
        border: solid 1px black;
        border-radius: 10px;/*角の丸み*/
    }
    .profs{
        margin-top: 10px;
    }
    /**********プロフィール**********/
}
/********スマホ********/

